.html, body{
    margin: 0%;
}
.grid-container {
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer";
    gap: 10px;
    }
.navbar{
background-color: #4845ad;
padding: 1%;
text-align: center;
width: 100%;
}
